<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>북스프레소 - 책향 가득한 공간</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle&family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/debate/debatemack.css}"/>
    <script defer th:src="@{/js/debate/debateinpo.js}"></script>
    <link rel="stylesheet" th:href="@{/css/header/header.css}"/>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<main class="board-main-box">
<aside class="aside-total-box">
    <div class="sticky">
        <div class="aside-object">
            <h1>프로필 사진 자리</h1>
        </div>
        <div class="aside-text">
            <h3>아이디</h3>
        </div>
        <div class="aside-text">
            <h2>닉네임</h2>
        </div>
        <div class="aside-text aside-mypage">
            <h2>내 토론</h2>
        </div>
        <div class="aside-text">
            <h2>내 포스트</h2>
        </div>
    </div>
</aside>
<!--토론선택하기-->
<form action="/debate/make" method="post">
<div class="obtion">
    <div class="fadeIn">
        <div class="gather-title"><span class="gather-title-text">어떤 토론을 만들고 싶으세요?</span></div>
    </div>
    <div class="gather-box">
        <label for="on" class="fadeIn-style">
            <div class="gather-create-option">
                <div class="gather-create-title">
                    <span class="gather-create-title-text">온라인</span>
                    <span class="gather-create-content-text">온라인으로 토론을 하고싶어요</span>
                </div>
            </div>
            <div class="gather-create-radio">
        <div class="gather-create-radio-box">
            <input type="radio"id="on" checked="checked" class="gather-create-radio-butten" name="meetingId" value="1">
        </div>
            </div>

        </label>
<!--        오프라인-->
        <label for="off" class="fadeIn-style">
            <div class="gather-create-option">
                <div class="gather-create-title">
                    <span class="gather-create-title-text">오프라인</span>
                    <span class="gather-create-content-text">실제 만나서 토론을 하고싶어요</span>
                </div>
            </div>
            <div class="gather-create-radio">
                <label class="gather-create-radio-box">
                    <input type="radio" id="off" class="gather-create-radio-butten" name="meetingId" value="2">
                </label>
            </div>

        </label>
<!--        혼자서 -->
        <label for="sole" class="fadeIn-style">

        <div class="gather-create-option">
            <div class="gather-create-title">
                <span class="gather-create-title-text">혼자서</span>
                <span class="gather-create-content-text">책을 읽으면서 내생각을 정리하고싶어요</span>
            </div>
        </div>
        <div class="gather-create-radio">
            <label class="gather-create-radio-box">
                <input type="radio" id="sole" class="gather-create-radio-butten" name="meetingId" value="3">
            </label>
        </div>
    </label>
        <!--            버튼처리-->
        <div class="gather-create-butten-div1">

            <button type="submit"class="gather-create-butten-dv1 nextmake" >
                다음
            </button>
        </div>
    </div>
</div>
</form>
</main>
</body>
</html>