<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>북스프레소 - 책향 가득한 공간</title>
    <link rel="shortcut icon" th:href="@{/img/타이틀로고.png}" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle&family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/header/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/debate/debateboard.css}"/>
    <link rel="stylesheet" th:href="@{/css/debate/postobject.css}"/>

    <script defer th:src="@{/js/debate/debateboard.js}"></script>

</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<!--토론선택하기-->
<div class="board-total-box">
    <main class="board-main-box">
        <!--    유저 정보-->
        <aside class="aside-total-box">
            <div class="sticky">
                <div class="aside-object">
                    <h1>책사진자리</h1>
                </div>
                <div class="aside-text">
                    <h3>온라인</h3>
                </div>
                <div class="aside-text">
                    <h2>돈키호테(책제목)</h2>
                </div>
                <div class="aside-text">
                    <h4>돈키호테를 읽고 생각을 나눠요</h4>
                    <div class="aside-date">
                        <div class="aside-date-text">
                            2024-07-04 ~
                        </div>
                        <div class="aside-date-text">
                            2024-08-04
                        </div>
                    </div>
                </div>
                <div class="aside-button">
                    <h4>글쓰기</h4>
                </div>
            </div>
        </aside>
        <!--    게시판-->
        <div class="board-object-box">
            <div class="board-object-in-box">

                <div class="board-object-user">
                    <div><img class="debate-img" src="/img/user.png"/></div>
                    <div class="board-object-user-inpo">
                        <div class="board-object-user-name"> 홍길동</div>
                        <div class="board-object-user-date"> 3 달전</div>
                    </div>
                    <div class="board-object-user-btn">
                        <div class="board-object-btn">
                            <img class="junjun-img" src="/img/junjun.png"/>
                        </div>
                        <div class="modal-total-box none">
                            <div class="modal-in-box">
                            <div class="modal-text1"><p>수 &nbsp; 정</p></div>
                            <div class="modal-text1"><p> 삭  &nbsp; 제</p></div>
                            </div>
                            <div class="modal-text"> 신 &nbsp; 고</div>
                        </div>
                    </div>

                </div>
                <div class="content-total-box">
                    <div class="bard-objleect-tito">타이틀 자리</div>
                    <div class="board-object-contnet">
                        <div class="content-content-box">🇺🇸 ‘더치페이하자.‘ & ‘내가 살게’를 영어로 어떻게 말할까요?

                            Hi, Newneekers! 🧡

                            미국에서 매일 밥을 같이 먹던 룸메이트가 있었습니다. 항상 밥을 같이 먹으니 더치페이하는 것이 더 편했어요. 언젠가 제가 더치페이하자고 하려고,
                            “Let’s do Dutch pay.”
                            라고 말했더니 친구가 쉽게 이해를 못했어요. 오랫동안 생각하고 대답을 하더라구요. 그럼 더 자연스럽게 뿜빠이(더치페이)하는 영어 표현은 뭘까요?

                            ✏️ ‘Let’s split bills.’ [렛ㅊ 스플릿 빌즈]
                            : 더치페이하자.
                            bills는 청구서예요. split은 나누다라는 뜻이구요! 그래서 청구서를 나누자! 라는 뜻입니다.

                            ✏️ ’Let’s go Dutch.’ [렛츠 고 덧치]
                            : 더치페이하자.
                            Dutch Pay라는 말보다, go Dutch로 표현해요.

                            📍 오늘은 친구에게 사주고 싶다면?

                            ✏️ ‘It’s on me. (계산하기 전에)’ [잇츠 온 미]
                            : 내가 살게.

                            ✏️ ‘I will treat you.’ [아윌 ㅌ륏 유]
                            : 내가 살게.
                            미국에서는 누군가에게 밥을 사주는 것을 ‘treat’ 이라는 동사로 표현해요.

                            💬 예시

                            🦔: “I am done. you have Zelle* right? Let’s split bills.”
                            🐿️: “No worries. It’s on me.”

                            🦔: “다 먹었다. 너 $$페이 있지? 더치페이하자.”
                            🐿️: “걱정마. 내가 낼게.”

                            *Zelle: 미국의 송금 어플

                            그럼 오늘도 맛저하세요!
                            Have a good one!<br>
                            <img src="/img/logo.png"/></div>
                    </div>
                    <!--                댓글창 -->

                </div>
                <div class="comment-total-box">
                    <div class="board-object-comment">
                        <div class="board-object-comment-inop-box">
                            <div class="board-object-user-comment">
                                <div><img class="debate-img" src="/img/user.png"/></div>
                                <div class="board-object-user-inpo">
                                    <div class="board-object-user-name"> 홍길동</div>
                                    <div class="board-object-user-date"> 3 달전</div>
                                </div>
                                <div class="board-object-user-btn">
                                    <div class="board-object-btn">
                                        <img class="junjun-img" src="/img/junjun.png"/>
                                    </div>
                                    <div class="modal-total-box none">
                                        <div class="modal-in-box">
                                            <div class="modal-text1"><p>수 &nbsp; 정</p></div>
                                            <div class="modal-text1"><p> 삭  &nbsp; 제</p></div>
                                        </div>
                                        <div class="modal-text"> 신 &nbsp; 고</div>
                                    </div>
                                </div>
                            </div>
                            <div class="content-total-box">
                                <div>안녕하세요! 더치페이할 때 Let's chip in! 이라는 표현도 써요! 근데 split bills를 더 많이 쓰더라구요 😇
                                    녕하세요! 더치페이할 때 Let's chip in! 이라는 표현도 써요! 근데 split bills를 더 많이 쓰더라구요 😇
                                    녕하세요! 더치페이할 때 Let's chip in! 이라는 표현도 써요! 근데 split bills를 더 많이 쓰더라구요 😇
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="board-object-comment">
                        <div class="board-object-comment-inop-box">
                            <div class="board-object-user-comment">
                                <div><img class="debate-img" src="/img/user.png"/></div>
                                <div class="board-object-user-inpo">
                                    <div class="board-object-user-name"> 홍길동</div>
                                    <div class="board-object-user-date"> 3 달전</div>
                                </div>
                                <div class="board-object-user-btn">
                                    <div class="board-object-btn">
                                        <img class="junjun-img" src="/img/junjun.png"/>
                                    </div>
                                    <div class="modal-total-box none">
                                        <div class="modal-text"> 신고 하기</div>
                                    </div>
                                </div>
                            </div>
                            <div class="content-total-box">
                                <div>안녕하세요! 더치페이할 때 Let's chip in! 이라는 표현도 써요! 근데 split bills를 더 많이 쓰더라구요 😇
                                    녕하세요! 더치페이할 때 Let's chip in! 이라는 표현도 써요! 근데 split bills를 더 많이 쓰더라구요 😇
                                    녕하세요! 더치페이할 때 Let's chip in! 이라는 표현도 써요! 근데 split bills를 더 많이 쓰더라구요 😇
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>