<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>북스프레소 - 책향 가득한 공간</title>
    <link rel="icon" th:href="@{/img/타이틀로고.png}" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle&family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/postmain.css}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/mainpage/mainpage.css}"/>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<main>

    <div class="main-page">

        <div class="post-total-box">
            <div class="mack-button-box">
                <a th:href="@{/member/debatemake}"><button class="mack-button" > 토론 만들기</button>
                </a>
            </div>
            <ul class="post-object-man">
                <li class="manpage-debate-object-box">
                    <div class="post-object-box post-object-style">
                        <div class="post-object-title">
                            <div class="user-img-box"><img class="user-img" src="/img/user.png"/></div>
                            <div class="post-title-user">
                                <div>사용자 닉네임</div>
                                <div> 단체포스트</div>
                            </div>
                            <div class="junjun"><img class="junjun-img" src="/img/junjun.png"/></div>
                        </div>
                        <!--                        사진부분-->
                        <div class="post-object-book-box">
                            <div class="post-object-back-book">
                                <div class="post-object-book-back">
                                    <img class="post-object-book" src="/img/nami.png"/>
                                </div>
                                <div class="post-object-book-box">
                                    <img class="post-object-book-img" src="/img/nami.png"/>
                                </div>
                            </div>
                        </div>
                        <div class="post-object-content-box">
                            <div class="post-content-title"><div class="post-title">나미야 잡화점의 비밀 을 읽고</div></div>
                            <div class="post-content-content">옆 사람 보지 말고 내가 나아가는 방향만 보고 질주하자.’ 내가 힘들 때, 스스로를 다른 사람과 무심결에
                                비교할 때마다 외우는 주문이다. 최고의 경쟁자는 바로 나 자신이다. 다른 사람이 아닌 내가 가는 길만 보고 가자.

                                나는 새벽에 다양한 목표를 달성했다. 그러나 어떤 한 가지 목표를 이루기 위해 일찍 일어난 것은 아니다. 건강한 삶의 태도를 유지하고 주어진 시간을 조금 더
                                의미 있게 사용하기 위해 주도적으로 생활 습관을 컨트롤했을 뿐이다.

                                새벽은 나에게 여유를 선물하는 시간이지 무언가 끝내야 한다고 압박하는 시간이 아니다. 책을 끝까지 다 읽어야 한다는 부담을 느끼면 유의미한 회복의 시간을 만들
                                수 없다. 반대로 편안한 마음으로 좋은 음악을 들으면서 책을 읽으면 몸이 그 시간을 기억할 것이다.

                                새벽의 독서는 이를 통해 편안한 마음으로 새로운 지혜를 얻고, 자연스럽게 세상의 흐름을 이해하고, 생각의 틀에서 벗어나는 정도로만 즐기면 충분하다. 책으로
                                날마다 성장하는 스스로의 모습을 보며 큰 성취감을 느낄 것이다.
                            </div>
                        </div>
                        <div class="book-button">
                            자세히 보기
                        </div>
                    </div>
                </li>
                <li class="manpage-debate-object-box">
                    <div class="post-object-box post-object-style">
                        <div class="post-object-title">
                            <div class="user-img-box"><img class="user-img" src="/img/user.png"/></div>
                            <div class="post-title-user">
                                <div>사용자 닉네임</div>
                                <div> 단체포스트</div>
                            </div>
                            <div class="junjun"><img class="junjun-img" src="/img/junjun.png"/></div>
                        </div>
                        <!--                        사진부분-->
                        <div class="post-object-book-box">
                            <div class="post-object-back-book">
                                <div class="post-object-book-back">
                                    <img class="post-object-book" src="/img/nami.png"/>
                                </div>
                                <div class="post-object-book-box">
                                    <img class="post-object-book-img" src="/img/nami.png"/>
                                </div>
                            </div>
                        </div>
                        <div class="post-object-content-box">
                            <div class="post-content-title"><div class="post-title">나미야 잡화점의 비밀 을 읽고</div></div>
                            <div class="post-content-content">옆 사람 보지 말고 내가 나아가는 방향만 보고 질주하자.’ 내가 힘들 때, 스스로를 다른 사람과 무심결에
                                비교할 때마다 외우는 주문이다. 최고의 경쟁자는 바로 나 자신이다. 다른 사람이 아닌 내가 가는 길만 보고 가자.

                                나는 새벽에 다양한 목표를 달성했다. 그러나 어떤 한 가지 목표를 이루기 위해 일찍 일어난 것은 아니다. 건강한 삶의 태도를 유지하고 주어진 시간을 조금 더
                                의미 있게 사용하기 위해 주도적으로 생활 습관을 컨트롤했을 뿐이다.

                                새벽은 나에게 여유를 선물하는 시간이지 무언가 끝내야 한다고 압박하는 시간이 아니다. 책을 끝까지 다 읽어야 한다는 부담을 느끼면 유의미한 회복의 시간을 만들
                                수 없다. 반대로 편안한 마음으로 좋은 음악을 들으면서 책을 읽으면 몸이 그 시간을 기억할 것이다.

                                새벽의 독서는 이를 통해 편안한 마음으로 새로운 지혜를 얻고, 자연스럽게 세상의 흐름을 이해하고, 생각의 틀에서 벗어나는 정도로만 즐기면 충분하다. 책으로
                                날마다 성장하는 스스로의 모습을 보며 큰 성취감을 느낄 것이다.
                            </div>
                        </div>
                        <div class="book-button">
                            자세히 보기
                        </div>
                    </div>
                </li>
                <li class="manpage-debate-object-box">
                    <div class="post-object-box post-object-style">
                        <div class="post-object-title">
                            <div class="user-img-box"><img class="user-img" src="/img/user.png"/></div>
                            <div class="post-title-user">
                                <div>사용자 닉네임</div>
                                <div> 단체포스트</div>
                            </div>
                            <div class="junjun"><img class="junjun-img" src="/img/junjun.png"/></div>
                        </div>
                        <!--                        사진부분-->
                        <div class="post-object-book-box">
                            <div class="post-object-back-book">
                                <div class="post-object-book-back">
                                    <img class="post-object-book" src="/img/nami.png"/>
                                </div>
                                <div class="post-object-book-box">
                                    <img class="post-object-book-img" src="/img/nami.png"/>
                                </div>
                            </div>
                        </div>
                        <div class="post-object-content-box">
                            <div class="post-content-title"><div class="post-title">나미야 잡화점의 비밀 을 읽고</div></div>
                            <div class="post-content-content">옆 사람 보지 말고 내가 나아가는 방향만 보고 질주하자.’ 내가 힘들 때, 스스로를 다른 사람과 무심결에
                                비교할 때마다 외우는 주문이다. 최고의 경쟁자는 바로 나 자신이다. 다른 사람이 아닌 내가 가는 길만 보고 가자.

                                나는 새벽에 다양한 목표를 달성했다. 그러나 어떤 한 가지 목표를 이루기 위해 일찍 일어난 것은 아니다. 건강한 삶의 태도를 유지하고 주어진 시간을 조금 더
                                의미 있게 사용하기 위해 주도적으로 생활 습관을 컨트롤했을 뿐이다.

                                새벽은 나에게 여유를 선물하는 시간이지 무언가 끝내야 한다고 압박하는 시간이 아니다. 책을 끝까지 다 읽어야 한다는 부담을 느끼면 유의미한 회복의 시간을 만들
                                수 없다. 반대로 편안한 마음으로 좋은 음악을 들으면서 책을 읽으면 몸이 그 시간을 기억할 것이다.

                                새벽의 독서는 이를 통해 편안한 마음으로 새로운 지혜를 얻고, 자연스럽게 세상의 흐름을 이해하고, 생각의 틀에서 벗어나는 정도로만 즐기면 충분하다. 책으로
                                날마다 성장하는 스스로의 모습을 보며 큰 성취감을 느낄 것이다.
                            </div>
                        </div>
                        <div class="book-button">
                            자세히 보기
                        </div>
                    </div>
                </li>
                <li class="manpage-debate-object-box">
                    <div class="post-object-box post-object-style">
                        <div class="post-object-title">
                            <div class="user-img-box"><img class="user-img" src="/img/user.png"/></div>
                            <div class="post-title-user">
                                <div>사용자 닉네임</div>
                                <div> 단체포스트</div>
                            </div>
                            <div class="junjun"><img class="junjun-img" src="/img/junjun.png"/></div>
                        </div>
                        <!--                        사진부분-->
                        <div class="post-object-book-box">
                            <div class="post-object-back-book">
                                <div class="post-object-book-back">
                                    <img class="post-object-book" src="/img/nami.png"/>
                                </div>
                                <div class="post-object-book-box">
                                    <img class="post-object-book-img" src="/img/nami.png"/>
                                </div>
                            </div>
                        </div>
                        <div class="post-object-content-box">
                            <div class="post-content-title"><div class="post-title">나미야 잡화점의 비밀 을 읽고</div></div>
                            <div class="post-content-content">옆 사람 보지 말고 내가 나아가는 방향만 보고 질주하자.’ 내가 힘들 때, 스스로를 다른 사람과 무심결에
                                비교할 때마다 외우는 주문이다. 최고의 경쟁자는 바로 나 자신이다. 다른 사람이 아닌 내가 가는 길만 보고 가자.

                                나는 새벽에 다양한 목표를 달성했다. 그러나 어떤 한 가지 목표를 이루기 위해 일찍 일어난 것은 아니다. 건강한 삶의 태도를 유지하고 주어진 시간을 조금 더
                                의미 있게 사용하기 위해 주도적으로 생활 습관을 컨트롤했을 뿐이다.

                                새벽은 나에게 여유를 선물하는 시간이지 무언가 끝내야 한다고 압박하는 시간이 아니다. 책을 끝까지 다 읽어야 한다는 부담을 느끼면 유의미한 회복의 시간을 만들
                                수 없다. 반대로 편안한 마음으로 좋은 음악을 들으면서 책을 읽으면 몸이 그 시간을 기억할 것이다.

                                새벽의 독서는 이를 통해 편안한 마음으로 새로운 지혜를 얻고, 자연스럽게 세상의 흐름을 이해하고, 생각의 틀에서 벗어나는 정도로만 즐기면 충분하다. 책으로
                                날마다 성장하는 스스로의 모습을 보며 큰 성취감을 느낄 것이다.
                            </div>
                        </div>
                        <div class="book-button">
                            자세히 보기
                        </div>
                    </div>
                </li>
                <li class="manpage-debate-object-box">
                    <div class="post-object-box post-object-style">
                        <div class="post-object-title">
                            <div class="user-img-box"><img class="user-img" src="/img/user.png"/></div>
                            <div class="post-title-user">
                                <div>사용자 닉네임</div>
                                <div> 단체포스트</div>
                            </div>
                            <div class="junjun"><img class="junjun-img" src="/img/junjun.png"/></div>
                        </div>
                        <!--                        사진부분-->
                        <div class="post-object-book-box">
                            <div class="post-object-back-book">
                                <div class="post-object-book-back">
                                    <img class="post-object-book" src="/img/nami.png"/>
                                </div>
                                <div class="post-object-book-box">
                                    <img class="post-object-book-img" src="/img/nami.png"/>
                                </div>
                            </div>
                        </div>
                        <div class="post-object-content-box">
                            <div class="post-content-title"><div class="post-title">나미야 잡화점의 비밀 을 읽고</div></div>
                            <div class="post-content-content">옆 사람 보지 말고 내가 나아가는 방향만 보고 질주하자.’ 내가 힘들 때, 스스로를 다른 사람과 무심결에
                                비교할 때마다 외우는 주문이다. 최고의 경쟁자는 바로 나 자신이다. 다른 사람이 아닌 내가 가는 길만 보고 가자.

                                나는 새벽에 다양한 목표를 달성했다. 그러나 어떤 한 가지 목표를 이루기 위해 일찍 일어난 것은 아니다. 건강한 삶의 태도를 유지하고 주어진 시간을 조금 더
                                의미 있게 사용하기 위해 주도적으로 생활 습관을 컨트롤했을 뿐이다.

                                새벽은 나에게 여유를 선물하는 시간이지 무언가 끝내야 한다고 압박하는 시간이 아니다. 책을 끝까지 다 읽어야 한다는 부담을 느끼면 유의미한 회복의 시간을 만들
                                수 없다. 반대로 편안한 마음으로 좋은 음악을 들으면서 책을 읽으면 몸이 그 시간을 기억할 것이다.

                                새벽의 독서는 이를 통해 편안한 마음으로 새로운 지혜를 얻고, 자연스럽게 세상의 흐름을 이해하고, 생각의 틀에서 벗어나는 정도로만 즐기면 충분하다. 책으로
                                날마다 성장하는 스스로의 모습을 보며 큰 성취감을 느낄 것이다.
                            </div>
                        </div>
                        <div class="book-button">
                            자세히 보기
                        </div>
                    </div>
                </li>
                <li class="manpage-debate-object-box">
                    <div class="post-object-box post-object-style">
                        <div class="post-object-title">
                            <div class="user-img-box"><img class="user-img" src="/img/user.png"/></div>
                            <div class="post-title-user">
                                <div>사용자 닉네임</div>
                                <div> 단체포스트</div>
                            </div>
                            <div class="junjun"><img class="junjun-img" src="/img/junjun.png"/></div>
                        </div>
                        <!--                        사진부분-->
                        <div class="post-object-book-box">
                            <div class="post-object-back-book">
                                <div class="post-object-book-back">
                                    <img class="post-object-book" src="/img/nami.png"/>
                                </div>
                                <div class="post-object-book-box">
                                    <img class="post-object-book-img" src="/img/nami.png"/>
                                </div>
                            </div>
                        </div>
                        <div class="post-object-content-box">
                            <div class="post-content-title"><div class="post-title">나미야 잡화점의 비밀 을 읽고</div></div>
                            <div class="post-content-content">옆 사람 보지 말고 내가 나아가는 방향만 보고 질주하자.’ 내가 힘들 때, 스스로를 다른 사람과 무심결에
                                비교할 때마다 외우는 주문이다. 최고의 경쟁자는 바로 나 자신이다. 다른 사람이 아닌 내가 가는 길만 보고 가자.

                                나는 새벽에 다양한 목표를 달성했다. 그러나 어떤 한 가지 목표를 이루기 위해 일찍 일어난 것은 아니다. 건강한 삶의 태도를 유지하고 주어진 시간을 조금 더
                                의미 있게 사용하기 위해 주도적으로 생활 습관을 컨트롤했을 뿐이다.

                                새벽은 나에게 여유를 선물하는 시간이지 무언가 끝내야 한다고 압박하는 시간이 아니다. 책을 끝까지 다 읽어야 한다는 부담을 느끼면 유의미한 회복의 시간을 만들
                                수 없다. 반대로 편안한 마음으로 좋은 음악을 들으면서 책을 읽으면 몸이 그 시간을 기억할 것이다.

                                새벽의 독서는 이를 통해 편안한 마음으로 새로운 지혜를 얻고, 자연스럽게 세상의 흐름을 이해하고, 생각의 틀에서 벗어나는 정도로만 즐기면 충분하다. 책으로
                                날마다 성장하는 스스로의 모습을 보며 큰 성취감을 느낄 것이다.
                            </div>
                        </div>
                        <div class="book-button">
                            자세히 보기
                        </div>
                    </div>
                </li>



            </ul>
        </div>
    </div>
</main>

</body>
</html>