*{
    box-sizing: inherit;
    font-family: "Jua", sans-serif;
}

h1,h3{
    margin-bottom: .5em;
    font-weight: 500;
}

html{
    --vh : 85vh;
}

a{
    text-decoration: none;
    background-color: transparent;
    outline: none;
    color: black;
}

.layout_container{
    position: relative;
}
.layout{
    max-width: 1256px;
    display: block;
    margin: auto;
}
.layout_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.layout_main{
    flex: 1 1 auto;
    min-width: 0;
}
.library{
    padding: 0 2rem;
}
.library_content{
    max-width: 700px;
    margin: auto;
}
.library_container{
    position: relative;
    padding-bottom: 4rem;
}
.library_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px 10px;
    padding: 2rem 0;
}
.library_header_user{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.library_header_nickname{
    font-size: 24px;
    font-weight: 600;
    color: #121212;
    padding-left: 10px;
}
.library_divider{
    height: 1px;
    flex-shrink: 0;
    background-color: #e9ecef;
    width: 100%;
}
.library_box{
    margin-top: 30px;
}
.library_box_tabs{
    display: flex;
    margin-bottom: 10px;
}
.library_box_title{
    font-size: 20px;
    color: black;
    font-weight: 600;
    padding: 0 12px 3px;
    border-bottom: 4px solid black;
    cursor: auto;
}

.library_tabs_content_holder{
    flex: auto;
    min-width: 0;
    min-height: 0;
}
.library_tabs_content{
    position: relative;
    width: 100%;
}
.library_book-list{
    margin-bottom: 15px;
}
.library_book-list_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    margin-bottom: 8px;
}
.library_book-list_header_title{
    display: flex;
    font-size: 18px;
    color: black;
    font-weight: 500;
}

.library__book-list__header__info-icon{
    transition: .2s color ease-out;
    color: #afafaf;
}
.library__book-list__header__info-icon:hover{
    color: black;
}