*{
    box-sizing: inherit;
    font-family: "Jua", sans-serif;
}
h1,h3{
    margin-bottom: .5em;
    font-weight: 500;
}

html{
    --vh : 85vh;
}

a{
    text-decoration: none;
    background-color: transparent;
    outline: none;
    color: black;
    border: none;
}

.layout_container{
    position: relative;
}
.layout{
    max-width: 1256px;
    display: block;
    margin: auto;
}
.layout_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.layout_main{
    flex: 1 1 auto;
    min-width: 0;
}
.myDebate{
    padding: 0 2rem;
}
.myDebate_content{
    max-width: 700px;
    margin: auto;
}
.myDebate_container{
    padding: 3rem 0;
}
.myDebate-img{
    display: inline-block;
    color: inherit;
    font-style: normal;
    text-align: center;
}
.page-title_title{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.page-title_title>span, .page-title_title>h1{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 5px;
    margin: 0;
}
.myDebate_body_tabs{
    display: flex;
    border-bottom: 1px solid #e9ecef;
    margin-bottom: 15px;
}
.myDebate_body_tab{
    font-size: 16px;
    color: #adb5bd;
    font-weight: 500;
    margin: 0;
    padding: 0 12px 3px;
    border-bottom: 4px solid black;
    transition: all .2s ease-out;
    cursor: pointer;
}
.myDebate_body_tab:hover{
    color: black;
}

.body_content_top{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #000000d9;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
    display: flex;
}
.body_tab_content{
    flex: auto;
    min-width: 0;
    min-height: 0;
}
.body_content{
    position: relative;
    width: 100%;
}

.content-empty{
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content-empty_title{
    text-align: center;
    font-size: 2rem;
    color: black;
}
.content-empty_item-primary{
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 500;
    text-align: center;
}
.content-empty_item{
    text-align: center;
    font-size: 16px;
}
.content-empty_action{
    width: 10rem;
    justify-content: center;
    display: flex;
    margin: 2rem 0;
}
.debate_button{
    border: 1px solid black;
    background-color: black;
    color: #ffd200;
    padding: 10px 25px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

.body_tab{
    display: none;
}
.body_tab.active{
    display: block;
}
.none {
    display: none;
}

.debate_tags{
    padding-right: 11.6rem;
}
.tag_container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tag_container_tags{
    margin-bottom: 10px;
    overflow: hidden;
    height: 25px;
}
.tag_container_type{
    background-color: white;
    border: 1px solid #a3a3a3;
    color: gray;
    border-radius: 100px;
    display: inline-block;
    font-size: 10px;
    padding: 0 8px;
    margin-bottom: 2px;
}
.debate_book{
    width: 100%;
    height: 14.5rem;
    display: flex;
    margin-bottom: 30px;
    cursor: pointer;
}

.debate_book_info{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.debate_book_header{
    margin-bottom: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.debate_badge{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #000000d9;
    font-size: 14px;
}
.debate_book_header_title{
    font-weight: 600;
    font-size: 18px;
    line-height: 135%;
    overflow: hidden;
}

.debate_book_body .debate_book_body_container{
    flex: 1;
    display: flex;
}

.debate_book_body_info{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.debate_description{
    height: 65.1px;
    color: #939393;
    line-height: 155%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.debate_book_footer{
    height: 25px;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.footer_author{
    color: #7c7c7c;
}
.footer_items{
    display: flex;
    flex-shrink: 0;
}
.footer_items div{
    margin-right: 10px;
    margin-top: 3px;
}
.footer_item{
    display: flex;
    flex-direction: row;
    font-size: 12px;
    color: #939393;
}
.profile_nickname{
    color: #939393;
}

.debate_topic{
    width: 7.6rem;
}
.debate_topic_book{
    overflow: hidden;
    border-radius: 4px;
    margin-left: auto;
    display: flex;
    justify-content: end;
    height: 9.2rem;
}






