/*헤더 부분 끝*/
.board-total-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    padding: 0 24px;
    margin: 0 auto;
}

.board-main-box {

    display: flex;
}

.aside-total-box {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    padding: 28px 0;
    width: 250px;

}

.sticky {
    position: sticky;
    top: 20px;
    padding-bottom: 10px;
}

.aside-object {
    margin: 0 auto;
    width: 104px;
    height: 104px;
    margin-bottom: 20px;
    border: 1px solid #000000;
}

.board-object-box {
    display: flex;
    flex-direction: column;
    width: 900px;
    margin-left: 30px;
    padding-left: 11px;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    align-items: center;
}

.aside-button {
    background-color: #212529;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    height: 30px;
    color: #ffd200;
    align-items: center;
}

.aside-text {
    padding-bottom: 5px;
    max-height: 54px;
    font-size: 15px;
}

.aside-date-text {
    font-size: 10px;
}

.aside-date {
    display: flex;
}

.board-object-in-box {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    border-bottom: 1px solid #dee2e6;

}

.board-object-user-img {
    width: 36px;
    height: 36px;
}

.board-object-user {
    display: flex;
    width: 100%;
    margin-top: 30px;
    align-items: center;
}

.board-object-user-comment {
    display: flex;
    width: 100%;
    margin-top: 10px;
    align-items: center;
}

.board-object-user-inpo {
    display: flex;
    flex-direction: column
}

.board-object-user-name {
    font-size: 18px;
    color: rgba(17 18 19);
}

.board-object-user-date {
    font-size: 10px;
}

.content-content-box {
    /*border: 1px solid#dee2e6;*/
    padding: 10px;
    border-radius: 10px;
}

.board-object-user-btn {
    margin-left: auto;
    border: none;


}

.bard-objleect-tito {
    width: 90%;
    margin: 10px 0;
}

.board-object-contnet {
    width: 100%;
    margin: 10px 0;
    padding-bottom: 30px;
    border-bottom: 1px solid #dee2e6;

}

.board-object-comment {
    display: flex;
    flex-direction: column;


}

.board-object-comment-inop-box {
    width: 100%;
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
    flex-direction: column;
}

.board-object-comment-text-box {
    width: 100%;
}

.debate-img {

    padding: 10px 10px 0 0px;
    width: 40px;
    height: 40px;
}

.junjun-img {
    width: 24px;
    height: 24px;
}

.content-total-box {
    margin: 0 45px;
    border-radius: 8px;
}

/* 모달창 */
.modal-total-box {
    display: flex;
    width: auto;
    height: auto;
    border-radius: 10px;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    position: absolute;
    padding: 10px;
    flex-direction: column;
    align-items: center;
}

.modal-text {
    color: rgb(228, 41, 30);
    font-size: 20px;
}
.modal-text1{
    font-size: 20px;
    color: #8491a7;
    line-height: 28px;
}
.none {
    display: none;
}
.modal-in-box{
    display: flex;
    border-bottom: 1px solid #dee2e6;
    color: #8491a7;
    width: 60px;
    margin-bottom: 7px;
    padding-bottom:7px ;
    flex-direction: column;
    align-items: center;
}