
/*토론적보 시작*/
.gather-create-outlin-box{

    max-width: 900px;
    padding-left:20px;
    margin: 0 auto;
}
.gather-create-outlin-top{
    /*    토론정보를 입력해주세요*/
    padding :24px 0;
}

.gather-create-book{
    display: flex;
    width:800px;
    height: 400px;
    border-radius: 10px;
    background-color:#f8f9fa;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:none;

}
.title {

    font-size: 30px;
}
/*토론제목*/
.gather-create-debate-title{
    padding :24px 0;
}
.title-box{
    padding-top: 10px;
    resize: none;
    width: 800px;
    height: 54px;
    min-height: 54px;
    max-height: 76px;
    border: 1px solid #dee2e6;
    font-size: 20px;
    outline:none;
}
.title-box:focus{
    border-color: #40a9ff;
    box-shadow: 0 0 0 2px #1890ff33;
    border-right-width: 1px;
    outline: 0;
}
.title-box:hover{
    border-color: #40a9ff;
}
.content-box{
    padding-top: 10px;
    width : 800px;
    resize: vertical;
    font-size: 20px;
    max-height: 300px;
    border: 1px solid #dee2e6;
    outline:none;
}
.content-box:focus{
    border-color: #40a9ff;
    box-shadow: 0 0 0 2px #1890ff33;
    border-right-width: 1px;

}
.content-box:hover{
    border-color: #40a9ff;

}
.recruitment-period{
    padding :10px 0;
    font-size: 25px;
}

.gather-create-debate-style{
 padding-top: 24px;


}
/*.gather-group {*/
/*    !* 기본 CSS 스타일을 적용하지 않기 위해서 *!*/
/*    width: 700px; !* 슬라이더 길이 *!*/
/*    height: 8px; !* 슬라이더 두께 *!*/
/*    border-radius: 5px; !* 슬라이더 모서리를 약간 둥글게 *!*/
/*    border: solid 2px #91d5ff;*/
/*    background-color: #ccc; !* 슬라이더 색상 *!*/
/*     !* 슬라이더 테두리 없이 *!*/
/*    accent-color:#91d5ff ;*/
/*}*/
.gather-value{
    border-bottom: 1px solid #212529;
}
input[type=range]{
    border-top:16px;
    color:#ccc;
    height: 8px;
    width: 800px;
    border-radius: 5px;
    accent-color:#91d5ff ;
    transition: border-color .3s, box-shadow .6s, transform .3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.title-count-box{
    font-size: 20px;
    color: #36363a;
}
datalist{
    display: grid;
    grid-auto-flow:column;
    width: 1600px;
}
.gather-create-butten-div{
    display: flex;
    flex-direction: row-reverse;
    padding: 24px 0;
    margin-right: 70px;
}
.gather-create-butten-dv1{
    border : 1px #212529;
    background-color: #212529;
    color: #ffd200;
    border-radius: 8px;
    width: 90px;
    height: 50px;
    font-size: 30px;
}
.debate-centent-title{
    font-size: 25px;
}
.paa{
    padding-top: 24px;
}
/* 모달창 */
.book-modal{
       position: absolute;
        display: none;

        justify-content: center;
        width: 100%;
    height: 200%;
    background-color: rgba(0,0,0,0.4);
}
.book-modal-body{
    position : absolute;
    top: 5% ;
    width: 700px;
    height: auto;
    padding:20px;
    background-color: rgb(255,255,255); /*모달창 배경색 흰색*/
    border-radius:10px; /*테두리*/
    box-shadow:0 2px 3px 0 rgba(34,36,38,0.15); /*테두리 그림자*/

}
.book-modal-body-close{
    width: 60px;
    height: 30px;
}
.modal-search{
    display: flex;
    align-items: center;
}
.modal-search-img{
    width: 20px;
    height: 20px;
    padding-right: 10px;
    margin-top: 10px;
}
.modal-search-text{
    width: 350px;
    height: 40px;
    border: none;
    border-bottom: 1px solid #ccc ;
    resize: none;
    padding-left: 10px;
    font-size: 30px;



}

.modal-search-text:focus{
   outline: none;
}
.modal-text-box{
    display: flex;

    height: 245px;
    padding: 12px 0;
}
.modal-text-img{
    width: 210px;
    height: 260px;
    background-color: #cccccc;
    margin-left: 10px

}
.modal-text-title{
    font-size: 20px ;

}
.modal-text-author{
    font-size: 20px;

}
.modal-text-content {
    font-size: 20px;
}
.modal-comtent-box{
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 400px;
}
.modal-select{
    display: flex;
    align-items: center;
    border-radius:8px;
}
.modal-select-btn{
    border: 1px solid #000000;
    display: flex;
    width: 60px;
    height: 32px;
    align-items: center;
    justify-content: center;
    border-radius:8px;
    ;
}
.book-modal-close-btn{
    display: flex;
    flex-direction: row-reverse;
    margin-top:10px
}
.gather-create-butten-div{
    display: flex;
    flex-direction: row;
    padding: 24px 0;
    justify-content: space-between

}
.pather-value-box{
    color: #8491a7;
    font-size: 20px;
}
.gather-value-in{

}

